.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
  align-items: center;
  background: url(https://webbtelescope.org/files/live/sites/webb/files/home/webb-science/galaxies-over-time/_images/Galaxy-Cluster-MACS-J0717.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100vw;
  height: 100vh;
}

.sec {
  border-radius: 16px;
  border: 3px solid black;
  padding: 0;
  display: flex;
  text-align: center;
  text-align: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.sec-header {
  border-radius: 8px;
  border: 3px solid black;
  font-size: 20px;
  padding: 8px;
  width: 150px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: 48px;
  margin-right: 8px;
  text-align: right;
}

.bookmarks {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 8px 0;
  align-items: center;
}

.link {
  width: 125px;
  margin: 8px;
}

.icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 8px;
  padding: 0;
  margin: 0;
}

.link h4 {
  margin: 0;
  padding: 0;
  border-radius: 8px;
  border: 2px solid black;
  padding: 8px;
  margin-top: 8px;
  background-color: #FFFFFF;
}

a {
  text-decoration:  none;
  font-weight: bold;
  color: black;
}

.link:hover a {
  color: magenta;
}

.link:hover h4, .link:hover a .icon {
  border-color: magenta;
}


